.idea/
__pycache__/
wandb/
previous_code/

mcts_copy.py
mcts_copy2.py
previous_code/network_copy.py
previous_code/train_copy.py
previous_code/mcts_copy.py
previous_code/mcts_copy2.py
previous_code/adsf.py
train_.py