.idea/
__pycache__/
wandb/
previous_code/

previous_code/mcts_copy.py
previous_code/mcts_copy2.py
previous_code/network_copy.py
previous_code/train_copy.py
previous_code/adsf.py
previous_code/train_.py